In [0]:
import pandas as pd
import numpy as np
import re

In [0]:
from google.colab import drive 
drive.mount('/content/gdrive')

In [0]:
final = pd.read_csv("gdrive/My Drive/final_0607.csv", encoding="cp949")
data = final
data

In [0]:
# floor: 지하(0) / 1층(1) / 2층이상(2) / 지하+지상(3) / 1층+2층이상(4)
# total_floor: 총 층수

for i in range(len(data)):
  if not np.isnan(data.top_start[i]) and not np.isnan(data.top_fin[i]) and not np.isnan(data.bott_start[i]) and not np.isnan(data.bott_fin[i]):
    data.floor[i] = "지하+지상"
    data.total_floor[i] = data.top_fin[i] - data.top_start[i] + data.bott_fin[i] - data.bott_start[i] + 2
  elif not np.isnan(data.top_start[i]) and np.isnan(data.bott_start[i]) and np.isnan(data.bott_fin[i]):
    if not np.isnan(data.top_fin[i]):
      data.total_floor[i] = data.top_fin[i] - data.top_start[i] + 1
      if data.top_start[i] == 1:
        data.floor[i] = "1층" if data.total_floor[i] == 1 else "1층+2층이상"
      else: data.floor[i] = "2층이상"
    else:
      data.total_floor[i] = 1
      data.floor[i] = "1층" if data.top_start[i] == 1 else "2층이상"
  elif not np.isnan(data.bott_start[i]) and np.isnan(data.top_start[i]) and np.isnan(data.top_fin[i]):
    data.floor[i] = "지하"
    if not np.isnan(data.bott_fin[i]):
      data.total_floor[i] = data.bott_fin[i] - data.bott_start[i] + 1
    else:
      data.total_floor[i] = 1

In [48]:
len(data), data.total_floor.count(), data.floor.count()

(13517, 8418, 9074)

In [0]:
#data.to_csv("gdrive/My Drive/final_floor0607.csv", encoding="utf-8")
data = pd.read_csv("gdrive/My Drive/final_floor0607.csv", encoding="utf-8")

In [22]:
p1, p2 = re.compile("[ ]([0-9]{1,3})층"), re.compile("[ ]([0-9]{3,4})호")
p2.search("세명빌딩 1203호").group(1)   # example

'1203'

In [0]:
for i in range(len(data)):
  
  if not pd.isnull(data.remain_ad[i]):
    s11, s12 = p1.search(data.remain_ad[i]), p2.search(data.remain_ad[i])
    if s11:
      data.total_floor[i] = 1
      floor = s11.group(1)
      if "지하" in data.remain_ad[i]: data.floor[i] = "지하"
      else: data.floor[i] = "1층" if floor == 1 else "2층이상"
    elif s12:
      data.total_floor[i] = 1
      g = s12.group(1)
      floor = g[0] if len(g)==3 else g[0:2]
      if "지하" in data.remain_ad[i]: data.floor[i] = "지하"
      else: data.floor[i] = "1층" if floor == 1 else "2층이상"
  
  elif not pd.isnull(data.ad_name[i]):
    s21, s22 = p1.search(data.ad_name[i]), p2.search(data.ad_name[i])
    if s21:
      data.total_floor[i] = 1
      floor = s21.group(1)
      if "지하" in data.ad_name[i]: data.floor[i] = "지하"
      else: data.floor[i] = "1층" if floor == 1 else "2층이상"
    elif s22:
      data.total_floor[i] = 1
      g = s22.group(1)
      floor = g[0] if len(g)==3 else g[0:2] 
      if "지하" in data.ad_name[i]: data.floor[i] = "지하"
      else: data.floor[i] = "1층" if floor == 1 else "2층이상"

In [42]:
len(data), data.floor.count(), data.total_floor.count()

(13517, 10634, 10152)

In [0]:
data.to_csv("gdrive/My Drive/final_floor0607.csv", encoding="utf-8")